<div class="row">
  <div class="col-md-2">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit praesentium ab aperiam saepe aliquam similique quod libero fugiat ullam nulla corporis, est, amet eaque architecto nobis facere possimus expedita maxime!</p>
  </div>
  <div class="col-md-8">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, exercitationem architecto! Aliquid eaque, corporis distinctio dolorum recusandae esse. Natus delectus nisi repellat voluptatibus sint vero labore maiores rerum dolorem doloribus.</p>
  </div>
  <div class="col-md-2">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint enim perferendis fugit at optio modi ab impedit quod dolore harum qui laboriosam dignissimos, fugiat aut excepturi quibusdam a quaerat omnis!</p>
  </div>
</div>